In [9]:
import pandas as pd
import zipfile
from tqdm import tqdm
import os

In [10]:
# Pfad zum ZIP-Ordner
zip_path = './data/csse_covid_19_daily_reports.zip'

# Liste der CSV-Dateien im ZIP-Ordner erstellen
with zipfile.ZipFile(zip_path, 'r') as z:
    csv_files = [f for f in z.namelist() if f.endswith('.csv')]
    
# Dataframes aus den CSV-Dateien einlesen
# dfs = []
# for file in tqdm(csv_files):
#     with zipfile.ZipFile(zip_path, 'r') as z:
#         with z.open(file) as f:
#             df = pd.read_csv(f)
#             # df['Date'] = file[:-4] # Dateiname ohne .csv-Endung
#             # Dateiname ohne Pfad und .csv-Endung extrahieren und in ein Datumsformat umwandeln
#             df['Date'] = pd.to_datetime(os.path.basename(file)[:-4])
#             dfs.append(df)
            
dfs = [
    pd.read_csv(z.open(file)).assign(Date=pd.to_datetime(os.path.basename(file)[:-4]))
    for file in tqdm(csv_files)
    for z in [zipfile.ZipFile(zip_path, 'r')]
]

        
#Zusammenführen der Dataframes
final_df = pd.concat(dfs, ignore_index=True)

# Grösse des Dataframes in MB ausgeben
print(final_df.memory_usage(deep=True).sum() / (1024**2), "MB")

100%|██████████| 1143/1143 [00:18<00:00, 62.64it/s]

2222.0618209838867 MB

In [11]:
# Eingelesene Dateien anzeigen
final_df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,...,Incident_Rate,Case_Fatality_Ratio,Date,Province/State,Country/Region,Last Update,Latitude,Longitude,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513.0,2201.0,41727.0,...,134.896578,4.191343,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316.0,1181.0,33634.0,...,2026.409062,2.025173,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897.0,2762.0,67395.0,...,227.809861,2.764848,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117.0,84.0,7463.0,...,10505.403482,1.034865,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568.0,405.0,11146.0,...,53.452981,2.305328,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
final_df.tail()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,...,Incident_Rate,Case_Fatality_Ratio,Date,Province/State,Country/Region,Last Update,Latitude,Longitude,Incidence_Rate,Case-Fatality_Ratio
4287468,NaN,NaN,NaN,West Bank and Gaza,2023-01-01 04:21:00,31.952200,35.233200,703228.0,5708.0,NaN,...,13784.956961,0.811686,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4287469,NaN,NaN,NaN,Winter Olympics 2022,2023-01-01 04:21:00,39.904200,116.407400,535.0,0.0,NaN,...,NaN,0.000000,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4287470,NaN,NaN,NaN,Yemen,2023-01-01 04:21:00,15.552727,48.516388,11945.0,2159.0,NaN,...,40.048994,18.074508,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4287471,NaN,NaN,NaN,Zambia,2023-01-01 04:21:00,-13.133897,27.849332,334425.0,4024.0,NaN,...,1819.113362,1.203259,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4287472,NaN,NaN,NaN,Zimbabwe,2023-01-01 04:21:00,-19.015438,29.154857,259981.0,5637.0,NaN,...,1749.191125,2.168235,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
final_df.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,Date,Latitude,Longitude,Incidence_Rate,Case-Fatality_Ratio
count,3.500605e+06,4.183379e+06,4.183379e+06,4.287445e+06,4.287040e+06,1.459033e+06,1.449620e+06,3.338655e+06,3.379940e+06,4287473,5492.000000,5492.000000,630067.000000,633552.000000
mean,3.228877e+04,3.577816e+01,-7.160353e+01,7.391675e+04,1.030858e+03,1.615205e+04,7.469313e+03,1.700870e+04,2.749843e+00,2021-09-20 21:44:20.716090624,26.743089,11.701253,1206.610504,2.731899
min,6.000000e+01,-7.194990e+01,-1.781165e+02,-3.028440e+05,-1.780000e+02,-8.544050e+05,0.000000e+00,0.000000e+00,0.000000e+00,2020-01-22 00:00:00,-71.949900,-175.198200,0.000000,0.000000
25%,1.904100e+04,3.321928e+01,-9.657264e+01,7.870000e+02,1.100000e+01,0.000000e+00,5.300000e+01,8.416711e+03,1.002141e+00,2020-12-29 00:00:00,12.879700,-73.936000,237.369631,0.365356
50%,3.005700e+04,3.789202e+01,-8.684518e+01,3.713000e+03,5.700000e+01,0.000000e+00,4.590000e+02,1.523832e+04,1.479933e+00,2021-09-22 00:00:00,33.882000,15.200000,722.714117,1.573427
75%,4.702900e+04,4.213299e+01,-7.758680e+01,1.594200e+04,2.220000e+02,0.000000e+00,2.219000e+03,2.554554e+04,2.089687e+00,2022-06-16 00:00:00,42.506300,101.942400,1707.893004,3.367876
max,9.999900e+04,7.170690e+01,1.780650e+02,3.861851e+07,1.861380e+05,6.399531e+06,5.658278e+06,2.164022e+06,2.960000e+04,2023-03-09 00:00:00,72.000000,178.065000,18082.002457,5500.000000
std,1.794419e+04,1.330024e+01,5.474829e+01,5.850164e+05,6.403964e+03,1.330592e+05,7.888413e+04,1.106973e+04,6.566548e+01,NaN,23.589065,88.202145,1390.766749,19.261965

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4287473 entries, 0 to 4287472
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   FIPS                 float64
 1   Admin2               object
 2   Province_State       object
 3   Country_Region       object
 4   Last_Update          object
 5   Lat                  float64
 6   Long_                float64
 7   Confirmed            float64
 8   Deaths               float64
 9   Recovered            float64
 10  Active               float64
 11  Combined_Key         object
 12  Incident_Rate        float64
 13  Case_Fatality_Ratio  float64
 14  Date                 datetime64[ns]
 15  Province/State       object
 16  Country/Region       object
 17  Last Update          object
 18  Latitude             float64
 19  Longitude            float64
 20  Incidence_Rate       float64
 21  Case-Fatality_Ratio  float64
dtypes: datetime64[ns](1), float64(13), object(8)
memory usage: 719.6+ MB

In [15]:
# Subset erstellen mit den Spalten Date, Province_State, Country_Region, Province/State, Country/Region, Confirmed, Deaths
subset_df = final_df.iloc[:, [14,3,16,2,15,7,8]]
print(subset_df.memory_usage(deep=True).sum() / (1024**2), "MB")

866.34130859375 MB

In [16]:
subset_df.head()

,Date,Country_Region,Country/Region,Province_State,Province/State,Confirmed,Deaths
0,2021-01-01,Afghanistan,NaN,NaN,NaN,52513.0,2201.0
1,2021-01-01,Albania,NaN,NaN,NaN,58316.0,1181.0
2,2021-01-01,Algeria,NaN,NaN,NaN,99897.0,2762.0
3,2021-01-01,Andorra,NaN,NaN,NaN,8117.0,84.0
4,2021-01-01,Angola,NaN,NaN,NaN,17568.0,405.0

In [19]:
# das gekürzte Data Frame als csv speichern
subset_df.to_csv('COVID19_SHORT.csv', sep=',', header=True, index=False, quotechar='"', na_rep='NA')